{% extends "base.html.twig" %}

{% block title %}BlindBundle:Tournoi:index{% endblock %}

{% block body %}
    <h1>Welcome to the Tournoi:index page</h1>
   
        <table border=4 width=80%>
        <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>La date</th>
        <th>Actions</th>
        </tr>
            {% for tournoi in lesTournois %}
            <tr>
                <td>{{ tournoi.id }}</td>
                <td>{{ tournoi.nom }}</td>
                <td>{{ tournoi.dateDebut|date('d-m-Y') }}</td>
                <td> <button type="button">Supprimer</button>  <button type="button">Modifier</button> </td>
            </tr>    
        {% endfor %}
    </table>
    </br>
{% endblock %}
