{% extends "base.html.twig" %}

{% block title %}BlindBundle:Tournoi:index{% endblock %}

{% block body %}
<h1>Welcome to the Tournoi:create page</h1>
{{ form_start(form) }}
    {{ form_widget(form) }}
    

            <button type="submit" class="btn btn-primary">Register!</button>

{{ form_end(form) }}

{% endblock %}
