{% extends "base.html.twig" %}

{% block title %}BlindBundle:Theme:index{% endblock %}

{% block body %}
    <h1>Welcome to the Theme:index page</h1>
    {% for theme in lesThemes %}
        <p> {{ theme.id }}</p>
        <p> {{ theme.libelle }}</p>
        {% for tournoi in theme.tournois %}
            <p> {{ tournoi.nom }}</p>
        {% endfor %}        
        </br>
    {% endfor %}
{% endblock %}
