{% extends "base.html.twig" %}

{% block title %}BlindBundle:Theme:index{% endblock %}

{% block body %}
    <h1>Welcome to the Theme:index page</h1>

    <table border=4 width=80%>
        <tr>
        <th>ID</th>
        <th>Libelle</th>
        <th>Les Themes</th>
        <th>Actions</th>
        </tr>
            {% for theme in lesThemes %}
            <tr>
                <td>{{ theme.id }}</td>
                <td>{{ theme.libelle }}</td>
                <td>
                {% for tournoi in theme.tournois %}
                    {{ tournoi.nom }} </br>
                {% endfor %}        
                </td>
                <td> 
                    <a href="#" class="btn btn-primary btn-sm">Modifier</a>
                    <a href="#" class="btn btn-danger btn-sm">Supprimer</a>
                </td>
            </tr>    
        {% endfor %}
    </table>
    </br>
{% endblock %}
