{% extends "base.html.twig" %}

{% block title %}BlindBundle:Tournoi:index{% endblock %}

{% block body %}
    <h1>Welcome to the Tournoi:index page</h1>
    {% for tournoi in lesTournois %}
        <p> {{ tournoi.id }}</p>
        <p> {{ tournoi.nom }}</p>
        <p> {{ tournoi.dateDebut|date('d-m-Y') }}</p>
        </br>
    {% endfor %}
{% endblock %}
